<div class="modal-header">
    <h1 class="modal-title">Авторизация</h1>
</div>
<div class="modal-body">
    <alert ng-show="errorMessage">{{errorMessage}}</alert>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="loginName" class="col-sm-3 control-label">Логин</label>
            <div class="col-sm-9">
                <input type="text" ng-model="credentials.username" class="form-control" id="loginName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="loginPassword" class="col-sm-3 control-label">Пароль</label>
            <div class="col-sm-9">
                <input type="password" ng-model="credentials.password" class="form-control" id="loginPassword" on-enter="logon()"/>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-disable="process" ng-click="logon()" class="btn btn-primary">Войти</button>
    <button ng-disable="process" ng-click="close(result)" class="btn btn-primary" >Отмена</button>
</div>